header {
          position: fixed;
          left: 0;
          top: 0;
          right: 0;
          z-index: 10;

}

.menu {
          list-style: none;
          margin: 0;
          padding: 0;
          background-color: darkblue;
          
          /* A propriedade abaixo resolve o efeito colateral do float */
          overflow: hidden;
}

.menu li { float: left; }

.menu li a {
          text-decoration: none;
          color: white;
          padding: 14px 16px;
          display: block;
}

.menu li a:hover, .menu li a:focus {
          background-color: white;
          color: darkblue;
}
/* Versão 1 (provisoria) */
/* @media  screen  and (max-width: 760px) {
          .menu li { float: none; }
          .menu li a {text-align: center; }
} */


/* Iniciando com o icone do menu oculto */
.menu li.icone { display: none; }

@media screen and (max-width: 760px) {

          /* escondendo o icone do menu */
          .menu li { display: none; }          


.menu li.icone {
          display: block;
          float: right;
        }

        /* Ativando o posicionamento relativo */
        .menu.responsivo { position: relative; }

/* Acertamos as oordenadas */
  .menu.responsivo li.icone {
    position: absolute;
    right: 0;
    top: 0;
  }

  .menu.responsivo li {
    float: none;
    display: inline;
  }


  
}

